*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0.4vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 1vw 2vw;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    gap: 3vw;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

nav h1{
    font-size: 7vw;
    font-weight: 100;
    color: rgba(0,0,0,0.8);
}

.pagination{
    display: flex;
    gap:3vw;
    font-size: 0.8vw;
    font-weight: 100;
    color: rgba(0,0,0,0.5);
}

.emptyCart{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top:15vw;
  background-color: rgba(243, 243, 243,0.4);
  height: 30vw;
  gap: 1.2vw;
}

.emptyCart i{
  font-size: 10vw;
  color: rgba(0,0,0,0.3);
  font-weight: 100;
}

.emptyCart h1{
  font-size: 1.5vw;
  color: rgba(0,0,0,0.7);
}

.emptyCart a{
  text-decoration: none;
  color: rgba(0,0,0,0.4);
}

.cartination{
  display: flex;
  justify-content: space-evenly;
  padding:4vw 4vw;
}

.bagination{
    margin-top: 15vw;
}

.tabination{
  margin-top: 15vw;
  width: 25vw;
}

.tab{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 1.5vw 2.2vw;
  border: 0.2px solid rgba(0,0,0,0.2);
  letter-spacing: 0.2vw;
  border-radius: 15px;
  font-weight: 600;
  color: rgba(0,0,0,0.3);
  gap:1vw;
  position: fixed;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url('HeroImage.avif');
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    position: relative; */
    padding: 3vw;
    color: #000000;
    
}

.right{
    display: flex;
    gap: 3vw;
    color: rgba(100,100,100,0.5);
}




