*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0.4vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

nav .logo h1{
    font-size: 2vw;
    font-weight: 100;
}

nav .logo h1 a{
    text-decoration: none;
    color: #000;
}

.links{
    display: flex;
    gap: 2vw;
}

.links a{
    color: black;
    letter-spacing: 0.2vw;
    text-decoration: none;
}

.product{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url('HeroImage.avif');
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    position: relative; */
    padding: 3vw;
    color: #000000;
    
}

.right{
    display: flex;
    gap: 3vw;
    color: rgba(100,100,100,0.5);
}

